In [1]:
# tuple: immutable, ordered, allows duplicate
  # plan of attack:
# creating a tuple
# accessing items
# editing items
# adding items
# deleting items
# operation on tuple
# tuple function

# creating a table:

In [25]:
# empty
t1 = ()
print (t1)
# create tuple with single item
t2 = (1,) #not like this (1)
print(t2)
# creat tuple with hetero datatype
t3 = (1,2,3,"wajiha", "apple", 6.7)
print(t3)
# tuple within a tuple
t4 = (1,2,3,(3,4,5),7,8,9)
print(t4)
#using type conversion
t5 = tuple("hello world")
print (t5)
# list in tuple
t6 = (1,2,3,[0,9,8,7], 5)
print(t6)

()
(1,)
(1, 2, 3, 'wajiha', 'apple', 6.7)
(1, 2, 3, (3, 4, 5), 7, 8, 9)
('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd')
(1, 2, 3, [0, 9, 8, 7], 5)

# accessing items

In [26]:
# indexing
print(t3) 
print(t3[0])
print(t3[-2])

(1, 2, 3, 'wajiha', 'apple', 6.7)
1
apple

In [27]:
#slicing
print(t3)
print(t3[0:4])
print(t3[1:6:3]) # last number indicate how many can be skip
print(t3[-5:-1])
print(t3[-1: :-5]) # start: stop: steps
print(t3[::-1]) # reverse from given index
print(t3[2:-2])
# nested list
print(t4)
print(t4[3][1])
print(t6)
print(t6[3][2])

(1, 2, 3, 'wajiha', 'apple', 6.7)
(1, 2, 3, 'wajiha')
(2, 'apple')
(2, 3, 'wajiha', 'apple')
(6.7, 1)
(6.7, 'apple', 'wajiha', 3, 2, 1)
(3, 'wajiha')
(1, 2, 3, (3, 4, 5), 7, 8, 9)
4
(1, 2, 3, [0, 9, 8, 7], 5)
8

# editing items

In [28]:
print(t3)
t3[0]= 6 # tuple cannot be added once it is formed(immutable)

(1, 2, 3, 'wajiha', 'apple', 6.7)

TypeError: 'tuple' object does not support item assignment

# adding items

In [40]:
print(t3) # not possible immutable
# convert into list then amke changes and again convert into tuple
print (t4)
t10 = list(t4)
print(t10)

print(type(t10))
t10.append(10)
print(t10)

t4 = tuple(t10)
print(t4)

(1, 2, 3, 'wajiha', 'apple', 6.7)
(1, 2, 3, (3, 4, 5), 7, 8, 9, 10)
[1, 2, 3, (3, 4, 5), 7, 8, 9, 10]
<class 'list'>
[1, 2, 3, (3, 4, 5), 7, 8, 9, 10, 10]
(1, 2, 3, (3, 4, 5), 7, 8, 9, 10, 10)

# deleting items

In [ ]:
print(t4)
del t4
print(t4)

In [ ]:
print(t5)
del t5[-1] # tuple not support specific item deletion

# operation in tuple

In [ ]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1+t2)

print(t1*3) # times the given number

# membership (in)
print(1 in t1)
print(3 not in t2)

# iteration
for i in t2:
    print(i)

# tuple function

In [41]:
# len/min/max/sum/sorted
t = (1,2,3,4,5,6,7,8,9,0)
print(len(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t,reverse=True))

10
0
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [42]:
# count
print(t)
t.count(4) # how many times the nmber present in tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

1

In [45]:
# index (show index number of particular item)
t.index(3)
# t.index(40)

2

In [46]:
# tuples are faster than list 
# immutable are faster than mutable
# list consume more memory than tuple
# few biultin function in tuple than list

In [47]:
import time
L = list(range(10000))
T = tuple(range(10000))

start = time.time()
for i in L:
    i*5
print("List time", time.time()-start)

start = time.time()
for i in T:
    i*5
print("Tuple time", time.time()-start)

List time 0.00099945068359375
Tuple time 0.0009982585906982422

In [48]:
import sys # function in sys called getsizeof to check how many space in memory it take
L = list(range(10000))
T = tuple(range(10000))

print('List size', sys.getsizeof(L))
print('tuple size', sys.getsizeof(T))

List size 80056
tuple size 80040

In [49]:
# in list error prone
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [5]:
# in tuple easy debugging
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

# why use tuple?

In [6]:
# usability
# application where user can only read, can't mutate we use tuple
# in list user can make changes like to do list

# unpacking

In [8]:
# to stote items in variable
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [10]:
# swap the variableor value
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [13]:
a,b,*others = (1,2,3,4,5,6)
print(a,b)
print(others)

1 2
[3, 4, 5, 6]

# zipping tuple

The zip() function combines elements from two or more iterables (like lists, tuples, strings, or ranges) into pairs (or n-tuples), element by element.

In [20]:
a = (1,2,3,4,5)
b = (6,7,8,9,0)

print(zip(a,b))
z = zip(a,b)
print(list(z)) #convert zip into list
print(tuple(zip(a,b))) # convert into tuple

<zip object at 0x0000028F5C77FE40>
[(1, 6), (2, 7), (3, 8), (4, 9), (5, 0)]
((1, 6), (2, 7), (3, 8), (4, 9), (5, 0))

# Tuple comprehension