# Dictionary

A dictionary is a built-in data type in Python used to store key-value pairs.
It is like a real dictionary where you look up a word (key) and find its meaning (value).

Keys → must be unique & immutable (like strings, numbers, tuples).

Values → can be of any data type and can be duplicated.

create dictionary

In [14]:
# empty dictionary
d1 = {}
d1
# 1D dictionary
d2 = {"name": 'wajeeha', "gender": "female", "age": 22}
print(d2)
type(d2)
# with mixed keys
d3 = {"numbers": 46789000, "hello":"world"}
d3
# 2D dictionary
my_dict = {
    'name': 'wajeeha batool',
    'college':'uok',
     "sem" : "graduated",
    "subject" : {
        "biotech":76,
        "enzymo": 80
    }
}
my_dict
# using sequence and dict function
d4 = dict([(1,2),('name','wajeeha')])
d4
# duplicate keys (print only last key)
d5 = {'name': 'tajdar', 'name': 'ali'}
d5
# can't add mutable items as keys
d6 = {'name':'wajeeha', (123): 6} # list is not allowed as keys
d6

{'name': 'wajeeha', 'gender': 'female', 'age': 22}

{'name': 'wajeeha', 123: 6}

In [18]:
# to get any item
my_dict = {'name': 'tajdar', 'age': 22}
my_dict ['age']
my_dict.get('name')

'tajdar'

In [21]:
# to add any new item in dict
my_dict['name']='abdullah'
my_dict
my_dict ['gender'] = 'male'
my_dict

{'name': 'abdullah', 'age': 22, 'gender': 'male'}

 remove key-value pair

In [31]:
# pop
# dict1 = {'name': 'arifa', 'age':17, "college": 'bahria'}
# dict1.pop("college") # remove by key
# dict1
# pop item
dict2 = {'name': 'arifa', 'age':17, "college": 'bahria', 'gender': 'female'}
# dict2.popitem() # del last key value pair
# dict2
# del
# del dict2['name'] # like pop and also delete whole dict
# dict2
# clear
dict2.clear()
dict2

{}

In [41]:
my_dict = {
    'name': 'wajeeha batool',
    'college':'uok',
     "sem" : "graduated",
    "subject" : {
        "biotech":76,
        "enzymo": 80
    }
}
my_dict['subject']['micro'] = 79
my_dict
del my_dict['subject']['enzymo']
my_dict

{'name': 'wajeeha batool',
 'college': 'uok',
 'sem': 'graduated',
 'subject': {'biotech': 76, 'micro': 79}}

Editing key value pair

In [43]:
my_dict['sem'] = 8
my_dict

{'name': 'wajeeha batool',
 'college': 'uok',
 'sem': 8,
 'subject': {'biotech': 76, 'micro': 79}}

Dictionary operation
1. membership
2. iteration

In [44]:
# In dict fetch items by key
'name' in my_dict

True

In [45]:
'name' not in my_dict

False

In [46]:
my_dict

{'name': 'wajeeha batool',
 'college': 'uok',
 'sem': 8,
 'subject': {'biotech': 76, 'micro': 79}}

In [49]:
for i in my_dict:
    print(i,my_dict[i])

name wajeeha batool
college uok
sem 8
subject {'biotech': 76, 'micro': 79}

In [50]:
for i in my_dict:
    print(i)

name
college
sem
subject

Dictionary fuction

In [60]:
# len/sorted
print(len(my_dict))
print(sorted(my_dict))
sorted(my_dict,reverse=True)
print(max(my_dict)) # min and max on the basis of ascii

4
['college', 'name', 'sem', 'subject']
subject

In [62]:
# items/keys/value
print(my_dict)

print(my_dict.items())

{'name': 'wajeeha batool', 'college': 'uok', 'sem': 8, 'subject': {'biotech': 76, 'micro': 79}}
dict_items([('name', 'wajeeha batool'), ('college', 'uok'), ('sem', 8), ('subject', {'biotech': 76, 'micro': 79})])

In [63]:
print(my_dict.keys())

dict_keys(['name', 'college', 'sem', 'subject'])

In [65]:
print(my_dict.values())

dict_values(['wajeeha batool', 'uok', 8, {'biotech': 76, 'micro': 79}])

In [66]:
# update(given dict ko new dict sa update karna)
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

# Comprehension

In [68]:
 # print 1st 10 number and their squares
{i:i**2 for i in range (1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [73]:
# using existing dict
distance = {'delhi': 1000 , 'bombay': 2000 , 'banglore': 3000}
print(distance.items())
{key:value//2 for (key,value) in distance.items()}

dict_items([('delhi', 1000), ('bombay', 2000), ('banglore', 3000)])

{'delhi': 500, 'bombay': 1000, 'banglore': 1500}

In [75]:
# using zip
days = ['sunday', 'monday','tuesday', 'wednesday','thursday','friday','saturday']
temp_C = [30.4,40,23,35,30.8,40.1,29.9]
{i:j for (i,j) in zip (days,temp_C)}

{'sunday': 30.4,
 'monday': 40,
 'tuesday': 23,
 'wednesday': 35,
 'thursday': 30.8,
 'friday': 40.1,
 'saturday': 29.9}

In [76]:
# using if condition
products = {'phone': 10, 'laptop': 0 , 'charger': 32, 'tablet': 0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [77]:
# nested comprehension
{i:{j:i*j for j in range (1,11)} for i in range(1,6)}

{1: {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10},
 2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}}