### Functions

- repeated experience
- hides complexity
- resusable block of code

In [12]:
print('name')

#print function retuns display/output

name

In [13]:
len('string')

6

In [14]:
# Defining a Function
def message(): #initialize
    print('hello world')
    print('my first func')
    print('we are learning python')

message() #run/call

hello world
my first func
we are learning python

In [15]:
def add(a,b):
    print(a+b) #parameters a,b

add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [16]:
add(1,3) #argument

4

In [17]:
add(1)

TypeError: add() missing 1 required positional argument: 'b'

In [18]:
add(1,2,5)

TypeError: add() takes 2 positional arguments but 3 were given

In [20]:
#Default Parameter
def multiply(x,y=2):
    print(x*y)

multiply(3)

6

In [21]:
multiply(3,5)

15

In [24]:
def welcome(d='Guest'):
    print(f"hello {d}")

welcome()

hello Guest

In [25]:
welcome('aliyan')

hello aliyan

In [ ]:
# Positional Argument
def name(first, middle, last):

In [26]:
def student_info(name, age, grade):
    print("Name>>:", name)
    print("Age>>:", age)
    print("Grade>>:", grade)

# Calling function using positional arguments
student_info("Ali", 15, "10th")

Name>>: Ali
Age>>: 15
Grade>>: 10th

In [27]:
student_info(15, "Ali", "10th")

Name>>: 15
Age>>: Ali
Grade>>: 10th

In [28]:
def student_info(name, age, grade):
    print("Name>>:", name)
    print("Age>>:", age)
    print("Grade>>:", grade)

# Calling function using keyword arguments
student_info(age=22,grade='11th',name='Ali')

Name>>: Ali
Age>>: 22
Grade>>: 11th

In [11]:
student_info(age=15, name="Ali", grade="10th")

Name>>: Ali
Age>>: 15
Grade>>: 10th

In [ ]:
# #keyword argument
def name(first, middle, last):

In [29]:
def name(first,last):
    print(first,last)

name(last='apple','mango')

SyntaxError: positional argument follows keyword argument (2351712794.py, line 4)

In [30]:
def name(first,last):
    print(first,last)

name('mango',last='apple')

mango apple

In [31]:
def name(first,last):
    print(first,last)

name(first='apple','mango')

SyntaxError: positional argument follows keyword argument (2177747626.py, line 4)

In [33]:
def name(first,last):
    print(first,last)

name('mango',first='apple')

TypeError: name() got multiple values for argument 'first'

In [34]:
def name(first='coconut',last):
    print(first,last)

name(last='pineapple')

SyntaxError: parameter without a default follows parameter with a default (1378871749.py, line 1)

In [36]:
def name(first,last='coconut'): 
    print(first,last)

name('apple',last='pineapple')

apple pineapple

In [37]:
def name(first,last='coconut'):
    print(first,last)

name('pineapple')

pineapple coconut

In [ ]:
def name(first, last='fruit'):
    print(first, last)

# name(first='coconut')

In [41]:
# Arbitary number positional arguments
def grocery(*args):
    print(args)

grocery('salt','ghee','sugar','rice') #positional arguments

('salt', 'ghee', 'sugar', 'rice')

In [45]:
# Arbitary number positional arguments
def grocery1(*args):
    print(xyz)

grocery1('salt','sugar')#positional arguments

NameError: name 'xyz' is not defined

In [46]:
# Arbitary number positional arguments
def grocery1(*xyz):
    print(xyz)

grocery1('salt','sugar')#positional arguments

('salt', 'sugar')

In [49]:
# Arbitary number of keyword arguments

def bio(**kwargs):
    print(kwargs)

bio(name='ali',age=22,gender='male')

{'name': 'ali', 'age': 22, 'gender': 'male'}

In [50]:
def bio(**abc):
    print(abc)

bio(name='ali',age=22,gender='male')

{'name': 'ali', 'age': 22, 'gender': 'male'}

In [ ]:
# Errors Arbitary number of keyword arguments

In [54]:
#Combination of *args and **kwargs
def combo(*abc,**xyz):
    print(f"positional arg: {abc}")
    print(f"keyword arg: {xyz}")

combo('ali',22,adress='karachi',gender='male')

positional arg: ('ali', 22)
keyword arg: {'adress': 'karachi', 'gender': 'male'}

#### Write a Python function to convert Pakistani Rupees (PKR) to US Dollars (USD).

#### Write a Python function to convert kilogram to gram.

#### Write python function to find maximum number pass only three arguments

In [56]:
y = 2 #global variable

def print_my_y():
    y = 3 #local variable
    print('inside function:',y)

print_my_y()
print(y)

inside function: 3
2

In [60]:
y = 12 

def print_my_y():
    global y
    y = 2
    print('inside function:',y)

print_my_y()
print(y)

inside function: 2
2

### Nested function

In [ ]:
def add(a,b):
    print(a+b)

In [62]:
def subtract(a,b):
    print(a-b)

In [65]:
def calculate(a, b):
    def add(x, y): 
        return x + y
    def subtract(x, y):
        return x - y
    
    print("Addition:", add(a, b))
    print("Subtraction:", subtract(a, b))

calculate(1, 4)

Addition: 5
Subtraction: -3

#### Write a python function name square, nested func area and volume