### Loops in Python

- For loop
- While loop

In [1]:
student_scores = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 90
}

In [5]:
for student_score in student_scores:
    print(student_score)

Alice
Bob
Charlie
David

In [6]:
for student_score in student_scores.key():
    print(student_score)

AttributeError: 'dict' object has no attribute 'key'

In [4]:
for i in student_scores.keys():
    print(i)

Alice
Bob
Charlie
David

In [7]:
for x in student_scores.values():
    print(x)

85
92
78
90

In [8]:
for a in student_scores.items():
    print(a)

('Alice', 85)
('Bob', 92)
('Charlie', 78)
('David', 90)

In [9]:
student_scores.items()

dict_items([('Alice', 85), ('Bob', 92), ('Charlie', 78), ('David', 90)])

In [10]:
for key,value in student_scores.items():
    print(key, value)

Alice 85
Bob 92
Charlie 78
David 90

In [11]:
for key,value in student_scores.items():
    print(f"{key} --:-- {value}")

Alice --:-- 85
Bob --:-- 92
Charlie --:-- 78
David --:-- 90

In [13]:
for key,value in student_scores.items():
    print(f"{key} << dictionaty values >> {value} >>> ")

Alice << dictionaty values >> 85 >>>
Bob << dictionaty values >> 92 >>>
Charlie << dictionaty values >> 78 >>>
David << dictionaty values >> 90 >>>

In [14]:
for key,value in student_scores.items():
    print(key,'<< dictionaty values >>',value)

Alice << dictionaty values >> 85
Bob << dictionaty values >> 92
Charlie << dictionaty values >> 78
David << dictionaty values >> 90

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "berry"]
fruits

In [ ]:
fruits = ["apple", "banana", "cherry", "date", "berry"]
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

In [ ]:
for fruit in fruits:
    print(fruit)

In [ ]:
products = [("Laptop", 800), ("Phone", 500), ("Tablet", 300)]
print(products[0])
print(products[1])
print(products[2])

In [ ]:
for product in products:
    print(product)

In [15]:
class_data = {
    "students": ["Alice", "Bob", "Charlie"],
    "grades": [85, 92, 78],
    "cities": ["Karachi", "Lahore", "Islamabad"]
}

In [16]:
for keyss,dataa in class_data.items():
    print(f"{keyss} *** {dataa} completed")

students *** ['Alice', 'Bob', 'Charlie'] completed
grades *** [85, 92, 78] completed
cities *** ['Karachi', 'Lahore', 'Islamabad'] completed

## make list of your friends, print each friend name in new line using for loop

In [17]:
friends = ['donald trump','putin','javed miandad','atif aslam']

In [18]:
for friend in friends:
    print(friend)

donald trump
putin
javed miandad
atif aslam

In [28]:
range(1,10)

range(1, 10)

In [29]:
#range(start,end,step)
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [30]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [31]:
for j in range(1,11):
    print('hello world')

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [32]:
for j in range(1,11):
    print(f"{j} - hello world")

1 - hello world
2 - hello world
3 - hello world
4 - hello world
5 - hello world
6 - hello world
7 - hello world
8 - hello world
9 - hello world
10 - hello world

In [34]:
for j in range(11,1):
    print(j)

In [35]:
#continue
for a in range(1,11):
    if a == 5:
        continue #skip

In [36]:
#continue
for a in range(1,11):
    if a == 5:
        continue #skip
    else:
        print(a)

1
2
3
4
6
7
8
9
10

In [37]:
#break
for u in range(1,11):
    if u == 6:
        break
    else:
        print(u)

1
2
3
4
5

## print table of 2

In [ ]:
print(f"2 x {i} = {2 * i}")

In [1]:
for i in range(1,9):
    print("*")

*
*
*
*
*
*
*
*

In [2]:
for i in range(1,11):
    print("*",end=" ")

* * * * * * * * * *

In [3]:
for i in range(1,9):
    for i in range(1,11):
        print("*",end=" ")
    print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [19]:
## NESTED FOR LOOP

week_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
time_slots = ['9AM-10AM', '10AM-11AM', '11AM-12PM']

In [20]:
for week_day in week_days:
    print(week_day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [21]:
for time_slot in time_slots:
    print(time_slot)

9AM-10AM
10AM-11AM
11AM-12PM

In [22]:
for week_day in week_days:
    for time_slot in time_slots:
        print(week_day,time_slot)

Monday 9AM-10AM
Monday 10AM-11AM
Monday 11AM-12PM
Tuesday 9AM-10AM
Tuesday 10AM-11AM
Tuesday 11AM-12PM
Wednesday 9AM-10AM
Wednesday 10AM-11AM
Wednesday 11AM-12PM
Thursday 9AM-10AM
Thursday 10AM-11AM
Thursday 11AM-12PM
Friday 9AM-10AM
Friday 10AM-11AM
Friday 11AM-12PM

In [ ]:
## NESTED FOR LOOP

week_days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
time_slots = ['9AM-10AM', '10AM-11AM', '11AM-12PM']

In [26]:
for week_day in week_days: #outer loop
    print(week_day)
    for time_slot in time_slots: #inner loop
        print(time_slot)
    print()

Monday
9AM-10AM
10AM-11AM
11AM-12PM

Tuesday
9AM-10AM
10AM-11AM
11AM-12PM

Wednesday
9AM-10AM
10AM-11AM
11AM-12PM

Thursday
9AM-10AM
10AM-11AM
11AM-12PM

Friday
9AM-10AM
10AM-11AM
11AM-12PM

In [27]:
for week_day in week_days: #outer loop
    print(week_day)
    for time_slot in time_slots: #inner loop
        print(time_slot)

Monday
9AM-10AM
10AM-11AM
11AM-12PM
Tuesday
9AM-10AM
10AM-11AM
11AM-12PM
Wednesday
9AM-10AM
10AM-11AM
11AM-12PM
Thursday
9AM-10AM
10AM-11AM
11AM-12PM
Friday
9AM-10AM
10AM-11AM
11AM-12PM

In [ ]:
time_slots = ['9AM-10AM', '10AM-11AM', '11AM-12PM']
shift = ['morning','evening','night']