In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

### Import the Data
Let's extract the our **Titanic data** from the .csv file, create a  pandas DataFrame and look at the available indicators:

- ***Survived***: Outcome of survival (0 = No; 1 = Yes)
- ***Pclass***: Socio-economic class (1 = Upper class; 2 = Middle class; 3 = Lower class)
- ***Name***: Name of passenger
- ***Sex***: Sex of the passenger
- ***Age***: Age of the passenger (Some entries contain NaN)
- ***SibSp***: Number of siblings and spouses of the passenger aboard
- ***Parch***: Number of parents and children of the passenger aboard
- ***Ticket***: Ticket number of the passenger
- ***Fare***: Fare paid by the passenger
- ***Cabin***: Cabin number of the passenger (Some entries contain NaN)
- ***Embarked***: Port of embarkation of the passenger (C = Cherbourg; Q = Queenstown; S = Southampton)

In [ ]:
df = pd.read_csv("titanic_dataset.csv")
df

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.info()

## Distribution plots

In [ ]:
df['Parch']

In [ ]:
df['Parch'].unique()

In [ ]:
sns.histplot(df['Parch'],kde=True)
plt.show()

**As we can see, most passengers don't have neither parents nor children aboard.**

In [ ]:
df['Age']

In [ ]:
sns.distplot(df['Age'])
plt.show()

**As we can see that most of the passenger has the age between 20 to 40**

In [ ]:
plt.figure(figsize=(8,8))
sns.distplot(df['Age'])
plt.show()

In [ ]:
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
# Heatmap
sns.heatmap(df.isnull(),yticklabels = False, cbar = False,cmap = 'tab20c_r')
plt.title('Missing Data')
plt.show()

In [ ]:
df['Age'].median()

In [ ]:
df['Age'].mean()

In [ ]:
sns.boxplot(df['Age'])

In [ ]:
Q1 = df["Age"].quantile(0.25)
Q3 = df["Age"].quantile(0.75)
IQR = Q3 - Q1
print(Q1)
print(Q3)
print(IQR)

In [ ]:
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound)
print(upper_bound)

In [ ]:
df_filtered = df[(df["Age"] >= lower_bound) & (df["Age"] <= upper_bound)]

print(f"Original Rows: {df.shape[0]}, Filtered Rows: {df_filtered.shape[0]}")

In [ ]:
891-703

In [ ]:
df_filtered

In [ ]:
df_filtered.index

In [ ]:
df.index

In [ ]:
df[~df.index.isin(df_filtered.index)]

In [ ]:
df.Pclass.unique()

In [ ]:
df['Pclass'].unique()

In [ ]:
plt.figure(figsize = (10,7))
sns.boxplot(x = 'Pclass', y = 'Age', data = df, palette= 'GnBu_d').set_title('Age by Passenger Class')
plt.show()

In [ ]:
# Imputation function
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]

    if pd.isnull(Age):

        if Pclass == 1:
            return 37

        elif Pclass == 2:
            return 29

        else:
            return 24

    else:
        return Age

In [ ]:
df[['Age','Pclass']]

In [ ]:
# Apply the function to the Age column
df['Age']=df[['Age','Pclass']].apply(impute_age, axis =1)

In [ ]:
df['Age'].isnull().sum()

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
df_filtered = df[(df["Age"] >= lower_bound) & (df["Age"] <= upper_bound)]

print(f"Original Rows: {df.shape[0]}, Filtered Rows: {df_filtered.shape[0]}")

In [ ]:
891-880

In [ ]:
sns.boxplot(df['Age'])

In [ ]:
df.isnull().sum()

In [ ]:
# Remove Cabin feature
df.drop('Cabin', axis = 1, inplace = True)

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
df.info()

In [ ]:
out = [1,2,5,2,9,10,100,11,2,3.4,8,102]
sns.boxplot(out)

In [ ]:
df = df.dropna()

In [ ]:
df.info()