# list

In [1]:
# store multiple data types in single variable or under 1 name
# why? when we have to store different datatypes in single variable
# Array vs list = fixed (limitation and have to tell before addition) vs dynamic size( no limitation and can add more items in it)
# convenience --> heterogenous
# array homogenous only single data types, list heterogenous diff datatypes
# speed of execution slow in python drawback
# memory more space occupy

In [2]:
a = 2
print(id(2))

140733837486552

In [3]:
L = [1,2,3,4]
print(id(L))
print(id(L[0]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

2701487327616
140733837486520
140733837486584
140733837486520
140733837486552
140733837486584

In [4]:
L = [1,2,3]
L1 = [1,2,3]

L == L1

True

In [5]:
L = [1,2,34,4]
M = [32,5,54,6]
L ==M

False

In [6]:
# empty list
print([])

# 1D list
print([1,2,3,4,5]) # homogenous list

# 2D list or nested list
print([1,2,3,[2,4,6,8]]) # heterogenous list bcz there are 4 items, 3 numbers and 1 list

# 3D listlist k andar list k andar list
print([[[1,2], [3,4]], [[5,6], [8,9]]]) # same 2D list homogenous list
# output k end ma jitna barcket utni dimension

# heterogenous list
print([1, 'hello', 3.566, (5+6j), True, 'tajdar abbas'])

# using type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [2, 4, 6, 8]]
[[[1, 2], [3, 4]], [[5, 6], [8, 9]]]
[1, 'hello', 3.566, (5+6j), True, 'tajdar abbas']
['h', 'e', 'l', 'l', 'o']

In [7]:
# to fetch items from list; indexing and slicing
# Indexing: 
L = [1,2,3,4,5,6,7,8,9]
print(L[0]) # positve indexing
print(L[4])
print(L[-1])
print(L[-8])

# in 2D list
L = [1,2,3,4,[6,7,8,9,0]]
# negative indexing
print(L[-1])
print(L[-1][-3])
# positive indexing
print(L[3])
# in 3D list
L = [[[1,2], [3,4]], [[5,6], [8,9]]]
print(L[0])
print(L[1])
print(L[1][0])
print(L[1][0][0])
print(L[0][0][1])

1
5
9
2
[6, 7, 8, 9, 0]
8
4
[[1, 2], [3, 4]]
[[5, 6], [8, 9]]
[5, 6]
5
2

In [8]:
# slicing:
L = [9,8,7,6,5,4,3,2,1]
print(L[0:6])
print(L[-5: ])
print(L[ :-3])
print(L[0::2])
print(L[0::3])
print(L[-8:-4: 2])
# list reverse
print(L[::-1])

[9, 8, 7, 6, 5, 4]
[5, 4, 3, 2, 1]
[9, 8, 7, 6, 5, 4]
[9, 7, 5, 3, 1]
[9, 6, 3]
[8, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# adding items to a list

# append
L = [78,34,56,42,15,98]
L.append(True)
print(L)
#
bio = [ "amna", 56, "female", "graduated", 4.00]
L = [23,34,45,56,78,89]
bio.append(L)
print(bio)


# Extend
L = [1,2,3,4,5,6]
L.extend([True])
print(L)
# 
bio = [ "amna", 56, "female", "graduated", 4.00]
L = [23,34,45,56,78,89]
bio.extend(L)
print(bio)
#
bio = [ "amna", 56, "female", "graduated", 4.00]
L = [23,34,45,56,78,89]
L.extend(bio)
print(L)
#
L = [23,34,45,56,78,89]
L.extend("hello")
print(L)

# insert in between two items specific position [L.insert(index, object)]
L = [23,34,45,56,78,89]
L.insert(0,18)
print(L)

# changing items at specific index number like 44 instead of 44 (editing )
L = [23,34,45,56,78,89]
L[2]=44
print(L)

[78, 34, 56, 42, 15, 98, True]
['amna', 56, 'female', 'graduated', 4.0, [23, 34, 45, 56, 78, 89]]
[1, 2, 3, 4, 5, 6, True]
['amna', 56, 'female', 'graduated', 4.0, 23, 34, 45, 56, 78, 89]
[23, 34, 45, 56, 78, 89, 'amna', 56, 'female', 'graduated', 4.0]
[23, 34, 45, 56, 78, 89, 'h', 'e', 'l', 'l', 'o']
[18, 23, 34, 45, 56, 78, 89]
[23, 34, 44, 56, 78, 89]

In [10]:
# editing items in a list
L = [23,34,45,56,78,89]
L[4]=67
print(L)
# editing with indexing
bio = [ "Wajeeha", 22, 3.8, "female", "masters in biotech", "teacher"]
bio[5]= "lab tachnologist"
print(bio)
# editing with slicing
L = [23,34,45,56,78,89]
L[2:5]=47,78,72
L

[23, 34, 45, 56, 67, 89]
['Wajeeha', 22, 3.8, 'female', 'masters in biotech', 'lab tachnologist']

[23, 34, 47, 78, 72, 89]

In [11]:
# deletion
# del pora list delete
L = [23,34,45,56,78,89]
print(L)

#indexing
L = [23,34,45,56,78,89]
del L[-5]
print(L)
# slicing
L = [23,34,45,56,78,89]
del L[1:4]
print(L)

# remove
# pop
#clear

[23, 34, 45, 56, 78, 89]
[23, 45, 56, 78, 89]
[23, 78, 89]

In [12]:
# remove according to value or name

L = [23,34,45,56,78,89]
L.remove(56)
print(L)

[23, 34, 45, 78, 89]

In [13]:
# pop particular index wala item ko delete karain gha
L = [23,34,45,56,78,89]
L.pop(3)

# index nhi da gah to last wala delete karain gha
L = [23,34,45,56,78,89]
L.pop()
print(L)

[23, 34, 45, 56, 78]

In [14]:
# clear
L = [23,34,45,56,78,89]
L.clear()
print(L)

[]

In [15]:
L = [23,34,45,56,78,89]
del L[2]
L

[23, 34, 56, 78, 89]

In [16]:
# operation on list

# arithmetic(+, *)
L1 = [1,2,3,4,5,6]
L2 = [5,6,7,8,9,0]
print(L1+L2)

L1 = [1,2,3,4,5,6]
print(L1*0)
# membership
L1 = [1,2,3,4,5,6]
L2 = [6,7,8,[5,6,7]]
print(5 in L1)
print(5 not in L1)
# loop

[1, 2, 3, 4, 5, 6, 5, 6, 7, 8, 9, 0]
[]
True
False