# sets

two compare two population
A set is a collection of unique, unordered items.
It is defined using {} (curly braces) or with the set() function.
Duplicates are automatically removed.
Items inside a set must be immutable (like numbers, strings, tuples) but the set itself is mutable (we can add/remove items).
perform mathematical operations like union, interssection and systematic differences etc
characteristics:
unordered
mutable add or delete
no duplicates
can't contain mutable datatypes (set within a set)

# creating a set

In [17]:
# empty set
S = {} # dict
print(S)
print(type(S))

s = set()
print(s)
print(type(s))

# 1D and 2D 
s1 = {1,2,3}
print(s1)

# s2 = {1,2,3,{4,5,6}} # hashable error mutable datatype within set
# print(s2)

s3 = {1,2,3,4,(5,6,7)} #ordering depend on algorithm hashing  
print(s3)

# homo and hetero
s4 = {1,2,3,"wajiha", True} # not support duplicates, bcz python treat True as 1
print(s4)

# using type conversion
s5 = set({1,2,3,4,5})
print(s5)

# duplicates not allowed
s6 = {1,1,2,2,2,3,4,5,5,7,8}
print(s6)

# sets can't have mutable datatypes/items
# s7 = {1,2,3,[3,4,5]}
# print(s7)

{}
<class 'dict'>
set()
<class 'set'>
{1, 2, 3}
{(5, 6, 7), 1, 2, 3, 4}
{1, 2, 3, 'wajiha'}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7, 8}

In [22]:
# order not matter, both sets are equal (not in list and tuple)
set1 = {1,2,3}
set2 = {3,2,1}
print(set1 == set2)

True

In [47]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# accessing and editing item

In [25]:
# # not possible through indexing and slicing b/c set is unordered
# s1 = {1,2,3,4}
# s1[2]

# # editing also not possible b/c indexing and slicing is not possible
# s2 = {4,5,6}
# s2[2] = 8

# adding items

In [29]:
S = {1,2,3,4}
# add (hashing control the position of new item)
S.add(5)
print(S)

# update
S.update([6,7,8,9,10])
print(S)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# deleting items

In [46]:
# del whole set delete
s = {0,9,8,7,6}
print(s)
# del s
# print(s)

# discard (particular item delete)
s.discard(6)
print(s)

s.discard(100) # 100 not present in the set but discard not show any error
print(s)

# remove (same as discard)
s.remove(7)
print(s)

# s.remove(500) # 500 not present in the set but remove show error
# print(s)

# pop (randomly delete any item)
E = {1,2,3,4,5,6}
E.pop()
print(E)

# clear
E.clear()
print(E)

{0, 6, 7, 8, 9}
{0, 7, 8, 9}
{0, 7, 8, 9}
{0, 8, 9}
{2, 3, 4, 5, 6}
set()

# set operation

In [65]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# # union (|)
print(s1 | s2)


# #intersection(&)
print(s1 & s2)

# # difference(-) S
print(s1 - s2)
print(s2 - s1)

# # symmetric difference(^) 
print(s1 ^ s2) # print every item except common

# # Membership test (To check whether the item is present or not )
1 in s1
6 in s1
8 not in s2
8 in s2
# Iteration
for i in s2:
    print(i)
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
None
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
4
5
6
7
8
1
2
3
4
5

# set function

In [76]:
# len/sum/max/min/sorted
s = {3,2,4,5,6,1,7}
len(s)
max(s)
min(s)
print(sorted(s))
print(sorted(s,reverse=True))
sum(s)

[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

28

In [83]:
# union/ update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1|s2
s1.union(s2)

s1.update(s2) # s1 update and change but s2 not update
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [7]:
# intersection/ inersection update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
# s1.intersection(s2)

# s1.intersection_update(s2)
# print(s1)
# print(s2)

s2.intersection_update(s1) # permanent change in s2 
print(s2)
print(s1)

{4, 5}
{1, 2, 3, 4, 5}

In [5]:
# difference/difference_update
s1 = {1,2,3,4,5,6}
s2 = {6,7,8,9,10}
# s1.difference(s2)


s1.difference_update(s2)
print(s1)
print(s2)
# print(s2.difference_update(s1))

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}

In [9]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5,6}
s2 = {6,7,8,9,10}
# s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 7, 8, 9, 10}
{6, 7, 8, 9, 10}

In [16]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4,5}
s2 = {6,7}
print(s2.isdisjoint(s1))

True

In [11]:
s1 = {1,2,3,4}
s2 = {4,3,2,1}
print(s1.isdisjoint(s2)) # bcz they are same

False

In [ ]:
# issubset